body{
    background-color: #FFF8DC;
    margin: 0;
}

/*Please inform if it's in conflict with other webpages: form and input*/

.newproject form{
  padding: 0px 30%;
}

.newproject input{
  width: 250px;
  float: right;
}

.navibar {
  height: 48px;
  background: white;
  margin: 0;
}

.navibar ul {
  margin: 0;
  padding: 0;
}

.navibar ul li {
  list-style: none;
  margin: 0;
}

.navibar ul li a {
    font-size: 23px;
    font-family: Trebuchet MS;
    text-decoration: none;
    float: right;
    display: inline;
    padding: 10px 20px;
    color: dimgray;
}

.navibar ul li a:hover {
  color: white;
  background-color: gray;
}

.navibar ul li a:active {
  color: white;
  background-color: gray;
}

.loginform{
	height:400px;
	width:290px;
	margin:80px 530px;
	border: 10px #CCC solid;
	background:white;
	padding:10px;
}


.loginform input{
	padding: 10px;
	width: 280px;
	margin: 5px;
}


.loginform button{
	background-color: mediumseagreen;
	color: white;
	width: 290px;
	padding: 14px 20px;
	margin: auto;
	border: none;
	cursor: pointer;
}

.signupform{
	height:480px;
	width:290px;
	margin:80px 530px;
	border: 10px #CCC solid;
	background:white;
	padding:10px;
}


.signupform input{
	padding: 10px;
	width: 280px;
	margin: 5px;
  text-align: center;
}


.signupform button{
	background-color: mediumseagreen;
	color: white;
	width: 290px;
	padding: 14px 20px;
	margin: auto;
	border: none;
	cursor: pointer;
}

.btn {
	background-color: mediumseagreen;
  font-weight: bold;
	color: white;
	width: 290px;
	padding: 14px 20px;
	margin: auto;
	border: none;
	cursor: pointer;
}